body {
    margin: 0;
}

form {
    width: 100%;
}

main {
    align-items: center;
    width: 50%;
}

table {
    width: 88vw !important;
}

td {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form, main, .container {
    display: flex;
    flex-direction: column;
}

.container {
    align-items: center;
    width: 100%;
}

.input-group-text {
    border-radius: .375rem 0 0 .375rem;
}