body {
    margin: 0;
}

button, input {
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 2%;
}

form {
    width: 100%;
}

main {
    align-items: center;
    width: 50%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

thead:nth-child(even) {
    background-color: #dddddd;
}

form, main, .container {
    display: flex;
    flex-direction: column;
}

.container {
    align-items: center;
    width: 100%;
}